doctype html
html
  head
    meta(name='viewport', content='width=device-width', initial-scale=1.0)
    title= title
    link(rel='stylesheet', href='bootstrap/css/slate.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

script(src='/javascripts/jquery-3.2.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
